@model Poster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <style>
        .form {
            background: #ccc;
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            resize: none;
        }
    </style>
    <div class="form">
        <h3>Creating a new poster</h3>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(item => item.Title, "Enter poster name")
            <br />
            @Html.TextBoxFor(item => item.Title)
            <br /><br />
            @Html.LabelFor(item => item.Description, "Enter description")
            <br />
            @Html.TextAreaFor(item => item.Description, 10, 9, null)
            <br />
            @Html.LabelFor(item => item.EventDate, "Enter event date dd/mm/yyyy")
            <br />
            @Html.TextBoxFor(item => item.EventDate, "{0:d MMM yyyy}")
            <br />
            @Html.LabelFor(item => item.EventDate, "Choose cycling type")
            <br />
            @Html.RadioButtonFor(item => item.SportType, "Extreme")
            <p><input type="submit" value="Send" /></p>
        }
    </div>
</div>
</body>
</html>