@{
    ViewData["Title"] = "Profile editing";

}

<div class="content-section">
    <div class="profile-avatar">
        
    </div>

    <div class="editing-form-wrapper">
        <div class="middle">
            <h2 class="mobile-heading-edit">Information</h2>
            <div class="editing-desktop">
                <form id="editing-form" method="post">
                    <div class="first-information">
                        <div class="input-option readonly">
                            <label for="name-input">Name</label>
                            <input id="name-input" type="text" placeholder="Name" value="@ViewData["UserName"]" readonly="readonly" required />
                        </div>

                        <div class="input-option">
                            <label for="username-input">Username</label>
                            <input id="username-input" type="text" name="NickName" placeholder="Username" value="@ViewData["UserNickname"]" required/>
                        </div>

                        <div class="input-option">
                            <label for="phone-input">Phone</label>
                            <input id="phone-input" type="tel" name="PhoneNumber" placeholder="Phone" value="@ViewData["UserPhone"]" required autocomplete="off"/>
                        </div>
                    </div>

                    <div class="second-information">

                        <div class="input-option readonly">
                            <label for="surname-input">Surname</label>
                            <input id="surname-input" type="text" placeholder="Surname" value="@ViewData["UserSurname"]" readonly="readonly" required />
                        </div>

                        <div class="input-option readonly">
                            <label for="email-input">Email</label>
                            <input id="email-input" type="text" placeholder="Email" value="@ViewData["UserEmail"]" readonly="readonly" />
                        </div>
                    </div>
                    <button class="editing-button" type="submit">Save</button>
                </form>
            </div>

            <div class="editing-mobile">
                <form id="editing-form">
                    <div class="first-information">
                        <div class="input-option readonly">
                            <label for="name-input">Name</label>
                            <input id="name-input" type="text" placeholder="Name" value="@ViewData["UserName"]" readonly="readonly" required />
                        </div>

                        <div class="input-option readonly">
                            <label for="surname-input">Surname</label>
                            <input id="surname-input" type="text" placeholder="Surname" value="@ViewData["UserSurname"]" readonly="readonly" required />
                        </div>

                        <div class="input-option">
                            <label for="username-input">Username</label>
                            <input id="username-input" type="text" placeholder="Username" value="@ViewData["UserNickname"]" required />
                        </div>

                        
                    </div>

                    <div class="second-information">

                        <div class="input-option readonly">
                            <label for="email-input">Email</label>
                            <input id="email-input" type="text" placeholder="Email" value="@ViewData["UserEmail"]" readonly="readonly" />
                        </div>

                        <div class="input-option">
                            <label for="phone-input">Phone</label>
                            <input id="phone-input" type="tel" placeholder="Phone" value="@ViewData["UserPhone"]" required autocomplete="off" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    
</div>