@model Poster

@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.UserId</strong></p>
<p>@Model.Description</p>
<p>@Model.EventDate</p>
<p>@Model.PublicationDate</p>
<p>@Model.SportType</p>

