<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>

    <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </div>

    <div class="sidebar">
        <div class="sidebar-body">
            <div class="sidebar-body-content">
                <div class="option home active">
                    <img class="icon" src="~/icons/home.svg" /><a id="home-link" href="/home">Home</a>
                </div>
                <div class="option map">
                    <img class="icon" src="~/icons/map.svg" /><a id="map-link" href="/map">Map</a>
                </div>
                <div class="option poster-create">
                    <img class="icon" src="~/icons/poster.svg" /><a id="posterCreation-link" href="/postercreation">Create new poster</a>
                </div>
                <div class="option go-journey">
                    <img class="icon" src="~/icons/gojourney.svg" /><a id="GoJourney-link" href="/gojourney">Go Journey</a>
                </div>
            </div>
        </div>
        
        <div class="weather">
            <div id="m-booked-bl-simple-week-vertical-95814" />
            <div class="booked-wzs-160-275 weather-customize" style="background-color:#137AE9; width:249px;" id="width3 ">
                <a target="_blank" class="booked-wzs-top-160-275" href="https://www.booked.net/">
                    <img src="//s.bookcdn.com/images/letter/s5.gif" alt="Booked net" />
                </a>
                <div class="booked-wzs-160-275_in">
                    <div class="booked-wzs-160-275-data">
                        <div class="booked-wzs-160-275-left-img wrz-03"></div>
                        <div class="booked-wzs-160-275-right">
                            <div class="booked-wzs-day-deck">
                                <div class="booked-wzs-day-val">
                                    <div class="booked-wzs-day-number">-2</div>
                                    <div class="booked-wzs-day-dergee">
                                        <div class="booked-wzs-day-dergee-val">&deg;</div>
                                        <div class="booked-wzs-day-dergee-name">C</div>
                                    </div>
                                </div>
                                <div class="booked-wzs-day">
                                    <div class="booked-wzs-day-d">-1&deg;</div>
                                    <div class="booked-wzs-day-n">-3&deg;</div>
                                </div>
                            </div>
                            <div class="booked-wzs-160-275-info">
                                <div class="booked-wzs-160-275-city">Lviv</div>
                                <div class="booked-wzs-160-275-date">Wednesday, 09</div>
                            </div>
                        </div>
                    </div>
                    <a target="_blank" href="https://www.booked.net/weather/lviv-4436" class="booked-wzs-bottom-160-275">
                        <table cellpadding="0" cellspacing="0" class="booked-wzs-table-160">
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Thursday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-18"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>4&deg;
                                </td>
                                <td class="week-day-val">0&deg;</td>
                            </tr>
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Friday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-18"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>5&deg;
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>2&deg;
                                </td>
                            </tr>
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Saturday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-18"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>5&deg;
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>3&deg;
                                </td>
                            </tr>
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Sunday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-18"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>6&deg;
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>3&deg;
                                </td>
                            </tr>
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Monday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-18"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>5&deg;
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>4&deg;
                                </td>
                            </tr>
                            <tr>
                                <td class="week-day">
                                    <span class="week-day-txt">Tuesday</span>
                                </td>
                                <td class="week-day-ico">
                                    <div class="wrz-sml wrzs-03"></div>
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>4&deg;
                                </td>
                                <td class="week-day-val">
                                    <span class="plus">+</span>4&deg;
                                </td>
                            </tr>
                        </table>
                        <div class="booked-wzs-center">
                            <span class="booked-wzs-bottom-l">See 7-Day Forecast</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        

        @if (ViewData["UserName"] != null && ViewData["UserSurname"] != null)
        {
            <div class="sidebar-bottom">
                <div class="profile-picture">

                </div>
                <div class="profile-information">
                    <h4 id="view-profile-link" href="/profile/index?id=@ViewData["UserId"]" class="name-surname view-profile">@ViewData["UserName"] @ViewData["UserSurname"]</h4>
                    <a id="view-profile-link" href="/profile/index?id=@ViewData["UserId"]" class="view-profile">View profile</a>
                </div>
                <div class="profile-settings">
                    <img class="icon settings" src="~/icons/settings.svg" />
                </div>
            </div>
        }
    </div>


        

        <div class="sidebar-mobile">
                <div class="sidebar-mobile-body">
                    <div class="sidebar-mobile-body-content">
                        <div class="option home active">
                            <img class="icon" src="~/icons/home.svg" /><a id="home-link" href="/home">Home</a>
                        </div>
                        <div class="close-menu">
                            <img class="icon" src="icons/cross.svg" />
                        </div>
                        <div class="option map">
                            <img class="icon" src="~/icons/map.svg" /><a id="map-link" href="/map">Map</a>
                        </div>
                        <div class="option poster-create">
                            <img class="icon" src="~/icons/poster.svg" /><a href="/postercreation">Create new poster</a>
                        </div>
                        <div class="option go-journey">
                            <img class="icon" src="~/icons/gojourney.svg" /><a href="/gojourney" id="GoJourney-link" href="GoJourney">Go Journey</a>
                        </div>
                        <div class="option search">
                            <input type="text" />
                        </div>
                    </div>
                </div>
                @if (ViewData["UserName"] != null && ViewData["UserSurname"] != null)
                {
                    <div class="sidebar-mobile-bottom">
                        <div class="user">
                            <div class="profile-picture">

                            </div>
                            <div class="profile-information">
                                <h4 class="name-surname">@ViewData["UserName"] @ViewData["UserSurname"]</h4>
                                <a id="view-profile-link" href="/profile/index?id=@ViewData["UserId"]" class="view-profile">View profile</a>
                            </div>
                        </div>
                        <div class="profile-settings">
                            <img class="icon settings" src="~/icons/settings.svg" />
                        </div>
                    </div>
                }
            </div>


            @RenderBody()
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=4436&type=4&scode=124&ltid=3457&domid=w209&anc_id=48043&cmetric=1&wlangID=1&color=137AE9&wwidth=249&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script>
            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
