<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>

    <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </div>

    <div class="sidebar">
        <div class="sidebar-body">
            <div class="sidebar-body-content">
                <div class="option home active">
                    <img class="icon" src="~/icons/home.svg" /><a id="home-link" href="Home">Home</a>
                </div>
                <div class="option map">
                    <img class="icon" src="~/icons/map.svg" /><a id="map-link" href="/map">Map</a>
                </div>
                <div class="option poster-create">
                    <img class="icon" src="~/icons/poster.svg" /><a id="posterCreation-link" href="PosterCreation">Create new poster</a>
                </div>
                <div class="option go-journey">
                    <img class="icon" src="~/icons/gojourney.svg" /><a id="GoJourney-link" href="GoJourney">Go Journey</a>
                </div>
            </div>
        </div>
        
        
        @if (ViewData["UserName"] != null && ViewData["UserSurname"] != null)
        {
            <div class="sidebar-bottom">
                <div class="profile-picture">
                        
                </div>
                <div class="profile-information">
                    <h4 class="name-surname">@ViewData["UserName"] @ViewData["UserSurname"]</h4>
                    <a id="view-profile-link" href="/profile/index?id=@ViewData["UserId"]" class="view-profile">View profile</a>
                </div>
                <div class="profile-settings">
                    <img class="icon settings" src="~/icons/settings.svg" />
                </div>
            </div>
        }
    </div>

    <div class="sidebar-mobile">
        <div class="sidebar-mobile-body">
            <div class="sidebar-mobile-body-content">
                <div class="option home active">
                    <img class="icon" src="~/icons/home.svg" /><a id="home-link" href="home">Home</a>
                </div>
                <div class="close-menu">
                    <img class="icon" src="icons/cross.svg" />
                </div>
                <div class="option map">
                    <img class="icon" src="~/icons/map.svg" /><a id="map-link" href="/map">Map</a>
                </div>
                <div class="option poster-create">
                    <img class="icon" src="~/icons/poster.svg" /><a href="PosterCreation">Create new poster</a>
                </div>
                <div class="option go-journey">
                    <img class="icon" src="~/icons/gojourney.svg" /><a id="GoJourney-link" href="GoJourney">Go Journey</a>
                </div>
            </div>
        </div>
        @if (ViewData["UserName"] != null && ViewData["UserSurname"] != null)
        {
            <div class="sidebar-mobile-bottom">
                <div class="user">
                    <div class="profile-picture">

                    </div>
                    <div class="profile-information">
                        <h4 class="name-surname">@ViewData["UserName"] @ViewData["UserSurname"]</h4>
                        <a id="view-profile-link" href="/profile/index?id=@ViewData["UserId"]" class="view-profile">View profile</a>
                    </div>
                </div>
                <div class="profile-settings">
                    <img class="icon settings" src="~/icons/settings.svg"/>
                </div>
            </div>
        }
    </div>


    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
