@model List<Poster>

@{
    ViewData["Title"] = "Home Page";
}
<div class="hamburger-menu">
    <i class="fas fa-bars"></i>
</div>


<main>
    @foreach (var poster in Model)
    {
        <div class="poster">
            <h1 class="poster-title">@poster.Title</h1>
            <p class="poster-description">@poster.Description</p>
            <p class="poster-eventdate">@poster.EventDate</p>
            <p>@poster.Author</p>
            <button class="subscribe-button" action="@Url.Action("StartFollowing", "Home", new {poster.PosterId})" method="post">Subscribe</button>
        </div>
    }
</main>